<!-- Navigation -->
<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="/index.html"><img src="/assets/LFlogo1.png" alt="Legends Flames"></a>
        </div>
        <ul class="nav-links">
            <li><a href="/pages/news.html">News</a></li>
            <li><a href="/pages/games.html">Games</a></li>
            <li><a href="/pages/merchandise.html">Merchandise</a></li>
            <li><a href="/pages/about.html">About</a></li>
        </ul>
        <div class="social-icons">
            <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" title="Discord"><i class="fab fa-discord"></i></a>
            <a href="#" title="YouTube"><i class="fab fa-youtube"></i></a>
            <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</nav>